.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.api_key.py 

//API key: f47b7320ff3f8199243a2954fadeccd4
https://api.openweathermap.org/data/2.5/weather?q={city name}&appid={API key}


https://api.openweathermap.org/data/2.5/weather?q=munich&appid=f47b7320ff3f8199243a2954fadeccd4




